<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>All adverts list</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div>
  <h1 align="center">All adverts list</h1>
  <a th:href = "@{/}" class="btn btn-primary btn-sm mb-5"> Back! </a>

  <table class="table table-striped table-responsive-md">
    <thead>

    <tr>
      <th>Id:</th>
      <th>Tytuł:</th>
      <th>Opis:</th>
      <th>Url:</th>
      <th>Zdjęcia:</th>
      <th>Prices:</th>
    </tr>

    </thead>

    <tbody>
    <tr th:each="olxAdvert : ${allAdverts}">
        <td th:text="${olxAdvert.id}"></td>
        <td th:text="${olxAdvert.title}"></td>
        <td th:text="${olxAdvert.description}"></td>
        <td th:text="${olxAdvert.url}"></td>
        <td><img th:src="${olxAdvert.images}" width="100" height="60"/></td>
        <td th:text="${olxAdvert.price}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>